header {
    width: 100vw;
    background-color: var(--fundo-cabecalho);
    color: var(--fonte-cabecalho);
    font-size: var(--tamanho-fonte-cabecalho);
}

header > .logo {
    background: var(--logo-url);
}

@media (min-width: 768px) {
}
