@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,800&display=swap');
:root {
  --fundo-principal: #131c25;
  --fundo-cabecalho: #000;
  --fonte-cabecalho: #fff;
  --fonte-preta: #000;
  --tamanho-fonte-cabecalho: 12px;
  --fonte-link: #007bff;
  --amarelo: #ffb709;
  --amarelo-escuro: #ba8b00;
  --roxo: #9246ff;
  --vermelho: #db0000;
  --vermelho-claro: #dc3545;
  --azul: #3b5998;
  --logo-url: url('https://flowpodcast.com.br/static/media/logo-header.04fd42ac.png');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: var(--fundo-principal);
}

h3 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
