.cabecalho {
  width: 100%;
  background-color: var(--fundo-cabecalho);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.cabecalho > img {
  object-fit: contain;
  max-height: 75px;
  margin-right: 1rem;
}

.cabecalho > nav {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.cabecalho > nav > .menumobile {
  color: var(--amarelo);
  font-size: 1.7rem;
  background: transparent;
  border: none;
}

.cabecalho > nav > .menumobile:focus, .cabecalho > nav > .menumobile:active {
    outline: 0;
}

.containerMenuMobile {
    background: var(--amarelo);
    color: var(--fonte-preta);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.containerMenuMobile {
    padding: 1.5rem;
}

.containerMenuMobile > li {
    padding: 1.5rem;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.cabecalho > nav > .menudesktop {
  display: none;
} 

@media screen and (min-width: 768px) {
  .cabecalho > nav {
    flex: 1;
  }
  
  .cabecalho > nav > .menumobile {
    display: none;
  }

  .cabecalho > nav > .menudesktop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .cabecalho > nav > .menudesktop > ul {
    color: var(--fonte-cabecalho);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    display: flex;
    margin: 0;
  }

  .cabecalho > nav > .menudesktop > ul > li {
    line-height: 50px;
    padding: 0 1.5rem;
    transition: color 0.15s ease;
    text-align: center;
    cursor: pointer;
  }

  .cabecalho > nav > .menudesktop > ul > li:hover {
    color: var(--amarelo);
  }

  .cabecalho > nav > .menudesktop > ul > li.selecionado {
    border-bottom: 1px solid var(--amarelo);
    color: var(--amarelo);
  }

  .cabecalho > nav > .menudesktop .menudesktopactions {
    display: flex;
    align-items: center;
  }

  .cabecalho > nav > .menudesktop .menudesktopactions > svg {
    cursor: pointer;
  }
}
